.decks {
  font-weight: 700;
  font-size: 40px;
}

.decks__title {
  font-weight: 700;
  font-size: 40px;
  margin: 0 0 32px 0;
  line-height: 1.2;
  margin-bottom: 40px;
}

.decks__list {
  display: contents;
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.decks-wrapper {
  display: flex;
  gap: 20px;
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.decks__new-deck-btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #1a1a1a80;
  border-radius: 20px;
  background-color: #d9d9d9;
  border: none;
  outline: none;
  cursor: pointer;
  width: 325px;
  height: 205px;
  padding: 20px;
  box-sizing: border-box;
}

.decks__new-deck-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}

.deck {
  background-color: #64d583;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 325px;
  height: 205px;
  box-sizing: border-box;
  position: relative;
}

.deck__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.deck__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
}

.deck__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deck__count {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.deck__delete-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../images/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;
}

.deck__delete-btn:hover {
  opacity: 1;
}

.deck_color_green {
  background-color: #64d583;
}

.deck_color_blue {
  background-color: #91a8f9;
}

.deck_color_pink {
  background-color: #ee92d7;
}

.deck_color_purple {
  background-color: #aa8ef0;
}

.deck_color_orange {
  background-color: #ee955e;
}

.deck_color_yellow {
  background-color: #f5d770;
}

.deck_color_grey {
  background-color: #d9d9d9;
}
