@media screen and (max-width: 768px) {
  .page {
    padding: 20px 20px 120px;
  }

  .page::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(to bottom, transparent 0%, #ececec 35%);
    pointer-events: none;
    z-index: 1;
  }

  .page_no-mobile-bar::after {
    display: none;
  }

  .gallery__new-card-btn,
  .gallery__practice-btn {
    position: fixed;
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
    padding: 12px 20px;
    height: 44px;
    font-size: 18px;
    line-height: 1;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    font-weight: 500;
    box-sizing: border-box;
  }

  .gallery__new-card-btn {
    width: calc((100% - 48px) / 1);
    max-width: 353px;
    left: 20px;
  }

  .gallery__practice-btn {
    right: 20px;
    width: calc((100% - 48px) / 2);
    max-width: 170px;
  }

  .gallery__new-card-btn_location_deck-view {
    position: fixed;
    width: calc((100% - 48px) / 2);
    max-width: 170px;
    margin: 0;
    height: 44px;
    padding: 0 16px;
    line-height: 1;
    box-sizing: border-box;
    background-color: #cccccccc;
  }

  .card {
    width: 100%;
    aspect-ratio: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 353px;
    box-shadow:
      0px 2px 8px 0px #0000001a,
      -1px 2px 2px 0px #ffffffb2 inset,
      1px -1px 2px 0px #00000040 inset;
  }

  .header__link {
    position: relative;
    bottom: 8px;
  }

  .card__btn_type_delete {
    z-index: 1;
  }

  .footer__text {
    position: fixed;
    z-index: 10;
    left: 2px;
  }

  .gallery__title {
    position: relative;
  }

  .carousel__card {
    justify-self: center;
    width: 353px;
    height: 420px;
    box-shadow:
      0px 2px 8px 0px #0000001a,
      -1px 2px 2px 0px #ffffffb2 inset,
      1px -1px 2px 0px #00000040 inset;
  }
  .carousel__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "card card card"
      "left flip right";
    width: 353px;
  }
  .carousel__btn_type_left {
    grid-area: left;
    justify-self: start;
  }
  .carousel__btn_type_flip {
    grid-area: flip;
    justify-self: center;
  }
  .carousel__btn_type_right {
    grid-area: right;
    justify-self: end;
  }
}
